.header {
  width: 65%;
  margin: 0.75rem auto;
  text-align: center;
  padding: 0.75rem;
  background-color: #08593e;
  border-radius: 12px;
  box-shadow: #38f6f7a0 0px 0px 3px 2px;
  animation: header-breathe-anim 6s ease-in-out infinite;
}
@keyframes header-breathe-anim {
  0%   { box-shadow: #38f6f7c8 0px 0px 3px 2px; }
  70%  { box-shadow: #38f6f7c8 0px 0px 3px 2px; }
  85%  { box-shadow: #38f6f7f0 0px 0px 3px 2px; }
  97%  { box-shadow: #38f6f7c0 0px 0px 3px 2px; }
  100% { box-shadow: #38f6f7c8 0px 0px 3px 2px; }
}

.header-title {
  color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Helvetica', 'Tahoma', sans-serif;
  font-size: x-large;
  font-weight: 700;
}

.gallery {
  width: 100%;
}

.pswp-gallery {
  max-width: 65%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* gap: 10px; */
}

@media (max-width: 1680px) {
  .pswp-gallery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


@media (max-width: 1250px) {
  .pswp-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}