/* Fonts */
@import url('https://fonts.cdnfonts.com/css/delugia-mono'); /* Delugia Mono, Delugia Mono Light */


/* Styles */
.header {
  width: 65%;
  margin: 0.75rem auto;
  text-align: center;
  padding: 0.75rem;
  background-color: #08593e;
  border-radius: 12px;
  box-shadow: #38f6f7a0 0px 0px 3px 2px;
  animation: header-breathe-anim 6s ease-in-out infinite;
}

@keyframes header-breathe-anim {
  0% {
    box-shadow: #38f6f7c8 0px 0px 3px 2px;
  }

  70% {
    box-shadow: #38f6f7c8 0px 0px 3px 2px;
  }

  85% {
    box-shadow: #38f6f7f0 0px 0px 3px 2px;
  }

  97% {
    box-shadow: #38f6f7c0 0px 0px 3px 2px;
  }

  100% {
    box-shadow: #38f6f7c8 0px 0px 3px 2px;
  }
}

.header-title {
  color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Helvetica', 'Tahoma', sans-serif;
  font-size: x-large;
  font-weight: 700;
}

/* Navigation - Button Panel */
.gallery-nav {
  position: fixed;
  top: 10vh;
  right: min(5vw, 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto; 
  max-height: 80vh;
  background: #38f6f7c8;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 2px;
  box-shadow: 0px 0px 3px 3px #03291d80;
}

/* Navigation - Buttons */
.gallery-nav-btn {
  position: relative;
  cursor: pointer;
  color: #fafafa;
  background: #011e14;
  padding: 0.5rem;
  font-size: large;
  font-weight: 700;
  border: 0.1rem solid #519e9fc8;
  transition: background 1s;
}
.gallery-nav-btn:hover {
  background: #52dcff;
}
.gallery-nav-btn:focus {
  outline: none;
  box-shadow: none;
}
.gallery-nav-btn.selected {
  background-color: #52dcff;
}

/* Navigation - Scrollbar */
.gallery-nav::-webkit-scrollbar {
  background: #fafafa;
  border-radius: 6px;
  width: 10px;
}
.gallery-nav::-webkit-scrollbar-track {
  background: #d0d0d0;
  border-radius: 6px;
}
.gallery-nav::-webkit-scrollbar-thumb {
  background: #1b2220;
  border-radius: 6px;
  outline: 1px solid #0f0f0f;
}
.gallery-nav::-webkit-scrollbar-thumb:hover {
  background: #264039;
}


.pswp-gallery {
  max-width: 65%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* gap: 10px; */
}

.gallery {
  width: 100%;
}


@media (max-width: 1680px) {
  .pswp-gallery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


@media (max-width: 1250px) {
  .pswp-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.caption-text {
  font-family: 'Delugia Mono Light', monospace;
}